
- block occurence.name do |link|
  - link.to 'Summary', occurence
  - link.to 'Backtrace', [:backtrace, occurence]     if occurence.backtrace?
  - link.to 'Environment', [:environment, occurence] if occurence.properties?
  - link.to "#{error.occurences.count} other occurences", error if error.occurences.count > 1
  
  - if occurence.properties?
    %table.table
      %tr
        %th.first.last{ :colspan => '2' } Properties
      - occurence.properties.each do |name, value|
        %tr
          %td=name
          %td=value

- actions do |link|
  - if error.closed
    - link.to 'Mark as not closed', error_path(error, :error => {:closed => '0'}), :method => :put
  - else
    - link.to 'Mark as closed', error_path(error, :error => {:closed => '1'}), :method => :put
