
- block occurence.name do |link|
  - link.to 'Summary /', occurence
  - link.to 'Backtrace /', [:backtrace, occurence]     if occurence.backtrace?
  - link.to 'Environment /', [:environment, occurence] if occurence.properties?
  
  - if occurence.properties?
    %table.table.environment
      %tr
        %th.select Property
        %th Value
      - occurence.properties.each do |name, value|
        %tr
          %td.select=name
          %td=value

- actions do |link|
  - if error.closed
    - link.to ('Open error again', error_path(error, :error => {:closed => '0'}), :method => :put, :class => "button")
  - else
    - link.to ('Mark as closed', error_path(error, :error => {:closed => '1'}), :method => :put, :class => "button")
