
<div class="block" id="block-project">
  <div class="secondary-navigation">
    <% menu_block do |link|
      link.to 'Summary', [project, error, occurence]
      link.to 'Backtrace', [:backtrace, project, error, occurence]     if occurence.backtrace?
      link.to 'Environment', [:environment, project, error, occurence] if occurence.properties?
      
      if error.occurences.count > 1
        link.to "#{error.occurences.count} other occurences", [project, error]
      end
    end %>
    <div class="clear"></div>
  </div>
  <h2 class="title"><%= occurence.name %></h2>
  <div class="content">

<p>
  <%=h occurence.description %>
</p>

<% if occurence.backtrace? %>
<h3>Backtrace</h3>
<pre><%=h occurence.backtrace.split("\n")[0..5].join("\n") %></pre>
<% end %>

  </div>
</div>