/* 

Author: Mr. Henry
Date: 2009-01-26


*/

/* @group Imports */

/*@import url(typography.css);*/

/* @end */


/* @group Testing Borders */
#wrapper      { border: 0px solid orange; }
/* @end */


/* @group Structure */
/* @end */


/* @group Home */
body#home         { background: #ecefe6; }

#home #wrapper    { margin: 0; padding: 0; width: 100%; height: 100%; position: relative; overflow: hidden; }
#home #container  { position: absolute; left: 50%; top: 50%; margin: -310px -505px; width: 1010px; height: 630px; background: url(/images/backgrounds/bg-home.jpg) no-repeat 0 0; }

#home h1    { margin: 86px 0 45px 560px; width: 290px; height: 115px; background: url(/images/general/img-logo-big.gif) no-repeat 0 0; text-indent: -8885px; }

#home ul.features       { margin: 0 0 95px 540px; }
#home ul.features li    { margin: 0 0 5px 0; height: 30px; background: url(/images/backgrounds/sprite-features.gif) no-repeat 0 0; text-indent: -8885px; }

#home ul.features .restfull-api         { background-position: 0 0; }
#home ul.features .open-source          { background-position: 0 -30px; }
#home ul.features .platform-agnostic    { background-position: 0 -60px; }
#home ul.features .and-more             { background-position: 0 -90px; }
#home ul.features .request-invitation   { background-position: 0 -120px; }

#home ul.features .request-invitation a { display: block; height: 30px; }

/* @end */


/* @group Home */
#footer ul.links                    { margin: 0 0 0 560px; }
#footer ul.links li                 { float: left; margin: 0 2px 0 0; }
#footer ul.links a                  { display: block; margin: 0 0 0 0; height: 14px; background: url(/images/backgrounds/sprite-buttons.gif) no-repeat 0 0; text-indent: -8885px; opacity: 0.5; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: alpha(opacity=50); }

#footer ul.links .updates a         { background-position: -150px 0; width: 49px; }
#footer ul.links .report-a-bug a    { background-position: -150px -25px; width: 74px; }
#footer ul.links .source-code a     { background-position: -150px -50px; width: 73px; }
#footer ul.links .mr-henry a        { background-position: -150px -75px; width: 56px; }
/* @end */


/* @group Misc */

hr  { display:none; }

/* @end */
