<div class="block" id="block-project">
  <div class="secondary-navigation">
  </div>
  <h2 class="title">Register</h2>
  <div class="content">

<% form_for @user, :url => account_path, :html => { :class => "form" } do |f| %>
  <div class="column left">
    <%= render :partial => "form", :object => f %>
  </div>
  <div class="clear"></div>
  <div class="group navform">
    <%= f.submit "Register", :class => 'button' %>
  </div>
<% end %>

  </div>
</div>