- breadcrumb_root

- menu_block do |link|
  - link.to(@breadcrumb_root[:text], @breadcrumb_root[:link])
  - @error = @occurence.error if @occurence and !@error
  - @project = @error.project if @error and !@project
  - link.to(@project.name, @project,:class => "action2") { true } if @project and !@project.new_record?
  - link.to(@error.id, @error,:class => "open") {true} if @error
  - link.to(@occurence.id, @occurence,:class => "action2") {true} if @occurence
  
  - link.to("edit my account",{:action => "edit"},:class => "action2") {true} if params[:action]=="edit" and !@error and !@project