- menu_block do |link|
  - link.to('Errors', root_path)
  - @error = @occurence.error if @occurence and !@error
  - @project = @error.project if @error and !@project
  - link.to(@project.name, @project) { true } if @project and !@project.new_record?