%ul.links.clearfix
  %li.updates
    %a{ :href => "http://twitter.com/failtale", :title => "Updates" }
      Updates
  %li.report-a-bug
    %a{ :href => "http://github.com/mrhenry/failtale/issues", :title => "Report a bug" }
      Report a bug
  %li.source-code
    %a{ :href => "http://github.com/mrhenry/failtale", :title => "Source code" }
      Source code
  %li.mr-henry
    %a{ :href => "http://www.mrhenry.be", :title => "Mr. Henry" }
      Mr. Henry

= render_shared :google if FAILTALE[:google_analytics]
