<div id="footer">
  <div class="block">
    <p>
      <span style="float:right">
        Copyright &copy; 2009 
        <a href="http://www.mrhenry.be" style="color:#fff">Mr. Henry</a>
      </span>
      <a href="http://twitter.com/failtale" style="color:#fff">Updates</a> | 
      <a href="http://mrhenry.lighthouseapp.com/projects/24526-failtale/overview" style="color:#fff">Report a bug</a> | 
      <a href="http://github.com/mrhenry/failtale" style="color:#fff">Source Code</a>
    </p>
  </div>
</div>