<div id="footer">
  <div class="block">
    <p>
      Copyright &copy; 2009 
      <a href="http://www.mrhenry.be" style="color:#fff">Mr. Henry</a>.
      <a href="http://twitter.com/failtale" style="color:#fff">updates</a></p>
  </div>
</div>