#footer
  .block
    %p
      %span{:style=>"float:right"}
        Copyright & 2009
        = link_to 'Mr. Henry',"http://www.mrhenry.be", :style=>"color:#fff"
      = link_to 'Updates', "http://twitter.com/failtale", :style=>"color:#fff"
      |
      = link_to 'Report a bug', "http://mrhenry.lighthouseapp.com/projects/24526-failtale/overview", :style=>"color:#fff"
      |
      = link_to 'Source Code', "http://github.com/mrhenry/failtale", :style=>"color:#fff"