.left
  = link_to 'Updates', "http://twitter.com/failtale"
  = link_to 'Report a bug', "http://mrhenry.lighthouseapp.com/projects/24526-failtale/overview"
  = link_to 'Source Code', "http://github.com/mrhenry/failtale"
  
.right
  Copyright & 2009
  = link_to 'Mr. Henry',"http://www.mrhenry.be"
