<div id="header">
  <h1><a href="/">Failtale</a></h1>
  <% if current_user %>
  <div id="user-navigation">
    <% menu_block do |link|
      link.to('Profile', edit_account_path)
      link.to('Settings', '#')
      link.to('Logout', user_session_path, :method => :destroy)
    end %>
    <div class="clear"></div>
  </div>
  <div id="main-navigation">
    <% menu_block do |link|
      link.to('Errors', root_path)
      link.to(@project.name, @project) if @project
    end %>
    <div class="clear"></div>
  </div>
  <% else %>
  <div id="main-navigation">
    <% menu_block do |link|
      link.to('Login', new_user_session_path)
      link.to('Register', new_account_path)
    end %>
    <div class="clear"></div>
  </div>
  <% end %>
</div>    