<div id="sidebar">
  
  <%= sidebar_message_block %>
  
  <%= yield :sidebar_actions %>
  
  <% if sidebar_blocks[:projects] %>
  <div class="block">
    <h3>Projects</h3>
    <% menu_block(:class => 'navigation') do |link|
      @projects.each do |project|
        link.to project.name, project
      end
    end %>
  </div>
  <% end %>
  
  <% if sidebar_blocks[:members] %>
  <div class="block">
    <h3>Members</h3>
    <% list @project.members, :class => 'navigation' do |member| %>
      <%=link_to member.name, '#' %>
    <% end %>
    <% if @project.owner_id == current_user.id %>
    <ul class="navigation">
      <li class="first last">
        <%=link_to 'Add a member', [:new, @project, :membership]%>
      </li>
    </ul>
    <% end %>
  </div>
  <% end %>
  
</div>