
<div class="block">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>
  <h2 class="title">We're in private beta but...</h2>
  <div class="content">
    
    <p>
      you can always try to get an invitation at
      <a href="mailto:failtale@mrhenry.be">failtale@mrhenry.be</a>
    </p>
    
  </div>
</div>