- block 'Invite someone' do
  - form_for @invitation, :html => { :class => "form" } do |f|
    .column.left
      = render :partial => "form", :object => f
    .clear
    .group.navform
      = f.submit "Send", :class => 'button'