- sidebar_blocks[:members] = true
- block project.name do |link|
  - link.to 'Open', project
  - link.to 'Closed', [:closed, project]
  %p= project.api_token
  %table.table
    %tr
      %th.first Error
      %th       Last occurence
      %th.last  Count
    - unless closed_errors.empty?
      = render :partial => closed_errors
    - else
      %tr
        %td{:colspan=>3} There are no closed errors.
  = will_paginate closed_errors
  %br

- actions do |link|
  - link.to 'Edit project', edit_project_path(project)