- block 'Edit this project' do
  - form_for project, :html => {:class=>'form'} do |f|
    = render :partial => f
    .group.navform
      = f.submit 'Save', :class => 'button'

- actions do |link|
  - link.to 'Delete this project', project_path(project), :method => :delete