- sidebar_blocks[:projects] = false

%table
  %tr
    %th.select date 
    %th project
    %th.count Count
  = render projects

- actions do |link|
  - link.to('New project', new_project_path,{:class => "button newProject"})