
<div class="block">
  <div class="secondary-navigation">
    <div class="clear"></div>
  </div>
  <h2 class="title"><%= project.name %></h2>
  <div class="content">

<p><%= project.api_token %></p>


<table class="table">
  <tr>
    <th width="100%" class="first">Error</th>
    <th width="75">Last occurence</th>
    <th width="75" class="last">Count</th>
  </tr>
  <%= render :partial => project.reports.all %>
</table>

<% actions do |link|
  link.to 'Edit project', edit_project_path(project)
end %>

  </div>
</div>