- sidebar_blocks[:members]  = true

%table
  %tr
    %th.select
      = check_box_tag 'selectAll'
    %th.label
      %span label
    %th 
      %span error
    %th.count 
      %span count
  - unless open_errors.empty?
    = render open_errors
  - else
    %tr
      %td
      %td{:colspan=>3} There are no open errors.

= will_paginate(open_errors)

- if current_user.owner?(project)
  - actions do |link|
    - link.to('Manage project', edit_project_path,{:class => "button"})