%table
  %tr
    %th.select
      = check_box_tag '__ig'
    %th label
    %th error
    %th count
  - unless open_errors.empty?
    = render open_errors
  - else
    %tr
      %td{:colspan=>4} There are no open errors.

= will_paginate(open_errors)
