
<div class="block" id="block-project">
  <div class="secondary-navigation">
    <ul>
      <li class="first active"><a href="#block-project">Project</a></li>
      <li><a href="#block-errors">Errors</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <h2 class="title"><%= project.name %></h2>
  <div class="content">

<p><%= project.api_token %></p>

  </div>
</div>

<div class="block" id="block-errors">
  <div class="secondary-navigation">
    <ul>
      <li class="first"><a href="#block-project">Project</a></li>
      <li class="active"><a href="#block-errors">Errors</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <h2 class="title">Errors</h2>
  <div class="content">

<table class="table">
  <tr>
    <th width="100%" class="first">Error</th>
    <th width="75">Last occurence</th>
    <th width="75" class="last">Count</th>
  </tr>
  <%= render :partial => project.reports.all %>
</table>


  </div>
</div>