<tr>
  <td class="first"><%= link_to h(truncate(error.name, :length => 100)), error %></td>
  <td><%= error.updated_at.to_formatted_s(:short) %></td>
  <td class="last"><%= error.occurences.count %></td>
</tr>