
<div class="block" id="block-project">
  <div class="secondary-navigation">
    <% menu_block do |link|
      occurence = error.last_occurence
      link.to 'Summary', error
      link.to 'Backtrace', [:backtrace, occurence]     if occurence.backtrace?
      link.to 'Environment', [:environment, occurence] if occurence.properties?
    end %>
    <div class="clear"></div>
  </div>
  <h2 class="title"><%= error.name %></h2>
  <div class="content">

<p>
  <%=h error.description %>
</p>

<% if error.backtrace? %>
<h3>Backtrace</h3>
<pre><%=h error.backtrace.split("\n")[0..5].join("\n") %></pre>
<br/>
<% end %>

<table class="table">
  <tr>
    <th class="first last" colspan="2">Occurences</th>
  </tr>
  <%= render :partial => error.occurences.all %>
</table>

  </div>
</div>