- block 'Edit this user' do
  - form_for [:admin, user], :html => {:class=>'form'} do |f|
    .column.left
      = render :partial => "form", :object => f
    .clear
    .group.navform
      = f.submit "Update", :class => 'button'

- actions do |link|
  - link.to 'Delete this user', admin_user_path(user), :method => :delete