- block 'Create a new user' do
  - form_for [:admin, user], :html => {:class=>'form userForm'} do |f|
    .column.left
      = render :partial => "form", :object => f
    .clear
    .group.navform
      = f.submit "Create", :class => 'button'